<html>
<head>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
  <script>
    function calculate(){
      var A = document.getElementById("a").value;
      var B = document.getElementById("b").value;
      var C = document.getElementById("c").value;
      var D = document.getElementById("d").value;

      var ans = ((A * B) - (C * D)) / (C - B);
      alert(ans);
      }
  </script>
  
</head>

<body>
  <br>
  <input type='number' id='a'/>
  <br>
  <br>
  <input type='number' id='b'/>
  <br>
  <br>
  <input type='number' id='c'/>
  <br>
  <br>
  <input type='number' id='d'/>
  <br>
  <br>
  <button onClick='calculate()'>Calculate</button>
  <br>
  <br>
  <div id="result"></div>

</body>

</html>