<html>
<head>
<!--   <link rel="stylesheet" href="style.css">
  <script src="script.js"></script> -->
  <script>
    function calculate(){
      //constants
      var G = 6.67430 * 10**-11; // Big G gravitational constant in meters/kg s^2
      var mJupiter = 1.898 * 10**27; //mass of jupiter in kg
      var rJupiter = 715 * 10**9; //average distance to jupiter in meters. 715 million km. Update this to fetch and store true current distance to Jupiter daily.

      //user input
      var m1 = document.getElementById("mass1").value;
      var m2 = document.getElementById("mass2").value;
      var rFridge = document.getElementById("distance").value;

      var ansFridge = G * (m1 * m2) / rFridge**2;
      var ansJupiter = G * (m1 * mJupiter) / rJupiter**2;
      var ans;

      if (ansFridge >= ansJupiter) {
        
        ans = ansFridge;
        document.getElementById("result-object").innerHTML = "your fridge!";

      } else {

        ans = ansJupiter;
        document.getElementById("result-object").innerHTML = "Jupiter!";

      }
      
      document.getElementById("result-force").innerHTML = ans;

      }
  </script>
  
</head>

<body>
  <label for="mass1">Your mass in kg:</label>
  <input type='number' id='mass1' value="70" />
  <br>
  <br>
  <label for="mass2">Your fridge's mass in kg:</label>
  <input type='number' id='mass2' value="114" />
  <br>
  <br>
  <label for="distance">Your current distance from your fridge in meters:</label>
  <input type='number' id='distance'/>
  <br>
  <br>
  <button onClick='calculate()'>Calculate</button>

  <p>It's... </p><div id="result-object"></div>
  <br>
  <br>
  <p>With a force in Newtons of: </p><div id="result-force"></div>
  <br>
  <br>

</body>

</html>